html, body {
	padding: 0;
	margin: 0;
  width:auto !important;
	height:auto !important;
}


h2 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 600;
    text-align: center;
    color: #222;
}

  p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #222;
    font-size: 14px;
    margin-left: 4px;
  }

  #dataTableDatabase_filter {
	float: none;
	text-align: center;
  /*height: 44px;*/
  }


.dataTables_filter {
	float: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 1em;
}

input {
	width: 70%;
	max-width: 25em;
	height: 24px;
}

input[type="text"] {
    font-size:18px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #444;
    padding-left: .25em;
}

.dataTables_scrollHeadInner {
	text-align: left;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
	background-color: #fff;
    border-bottom: 1px solid #ddd;
}

td {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.noChanges {
	color: #888;
}
