html, body {
	padding: 0;
	margin: 0;
  width:auto !important;
	height:auto !important;
}

  p {
    	font-family: Georgia,Times,Times New Roman,serif;
  }

  text {
  	font-size: 1em;
  	fill:#444;
  }

  .average {
  	fill: #e31a1c;
  	font-size: 0.675em;
  	text-anchor: middle;
  }

  .data {
  	font-size: .875em;
  	fill:#444;
  }

  /*.bar {
  	fill: #02818a;
  }*/

  .bar:hover {

  	stroke-width: 2px;

  }

  .axis {
  	font: 11px sans-serif;
  }

  .axis path,
  .axis line {
  	fill: none;
  	stroke: #444;
  	shape-rendering: crispEdges;

  }

  .x path {
  	display: none;
  }

  .y path,
  .y line {
  	display: none;
  }

  .line {
  	fill: none;
  	stroke: #e31a1c;
  	stroke-width: .75px;
  }

  #legend {
  	width: 280px;
  	height: 20px;
    position: relative;
    margin: 0 auto;
  }

  .keyColor{
    width: 18px;
    height: 10px;
    float: left;
    margin: 2px 6px 4px 10px;
  }

  #legend h6 {
    float: left;
  	font-size: 12px;
    font-family: sans-serif;
  	font-weight: normal;
  	-webkit-margin-before: 0em;
  	-webkit-margin-after: 0em;
  	color: #414243;
  	margin: 0;
  }

  #title h3 {
    text-align: center;
  	font-size: 14px;
    font-family: sans-serif;
  	font-weight: normal;
  	-webkit-margin-before: 0em;
  	-webkit-margin-after: 0em;
  	color: #414243;
  	margin: 0;
    margin-bottom: 8px;
  }


  .leaderLabel {
  	font-weight: bold;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  }
