body {
	background-color: #fff;
}

.building_explainer { 
	visibility: hidden;

}


.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  opacity: .85;
  /*background: rgba(255,255,255,0.8);*/
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 150px;
  height: auto;
  z-index: 99999;
  color: #333;
}

.tsunami {
  float: left;
  width: 20px;
  height: 15px;
  margin-right: 4px;
  background-color: #F2DA00;
  opacity: .75;
}


/*#about {
	visibility: hidden;
	display: none;
	position: fixed;
	width: 50%;
	height: 100%;
	background-color: #eee;

}*/

.container {
	/*position: fixed;*/
	height: 100%;
	width: 100%;
	margin: auto;
	background-image: url("https://s3.amazonaws.com/earthfix/earthquake/portland.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*box-shadow: 1px 1px 2px #333;*/
	border-bottom: 1px solid #333;
}

/*.glassdoor {
	position: absolute;
	width: 100%;
	height: 500px;
	background-color: #333;
	opacity: .75;
	z-index: 0;
}
*/

.leaflet_popup {
	font-size: 10pt;
}


.footer {
	background-color: #333;
	padding: 10px;
	height: 40px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;	
}

.footer p {
	color: #eee;
	font-size: 10pt;
	display: inline;
}

#about_button:hover {
	cursor: pointer;

}

.title {
  color: #fff; text-shadow: #fff; font-weight: bolder;
  margin-top: 30%;
}

.desc {
  color: #fff;
}


#buildings-container {
	width: 100%;
	max-width: 940px;
	margin: auto;
	visibility: hidden;
	display: none;
}

#map-legend {
	width: 100%;
	height: 100px;
	background-color: #fff;
}

.about-container {
	width: 100%;
	height: 600px;
	max-width: 795px;
	padding: 8px;
	margin: auto;
	margin-top: 2.5%;
}
/*#box {
	float: left;
	padding: 6px;
	height: 200px;
    border-right: 1px solid #ccc;
}
*/

#map {
	border-top: 1px solid #ccc;	
	height: 200px;
}

#locate-container {
	width: 90%;
	margin: auto;
	margin-top: 0%;
	margin-bottom: 0px !important;
	z-index: 9999999;
}

.leaflet-control-layers-list {
	margin-bottom: 0px !important;
}

#showme {
	padding:6px;
}

.leaflet-container {
    background-color:rgba(255,0,0,0.0);
    outline-color: #fff;
    /*border-left: 1px solid #ccc;*/
    /*border-right: 1px solid #ccc;*/
}

#location-search {
/*	margin-top: 30%;
*/	margin-bottom: -20px !important;
}

.fa-location {
    -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
    animation: myfirst 5s;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {color: red;}
    to {color: yellow;}
}

/* Standard syntax */
@keyframes myfirst {
    from {color: red;}
    to {color: yellow;}
}

tr {
	height: 54px;
}

#nav {
	padding: 4px;
	border-bottom: 1px solid #ddd;
	visibility: hidden;
	display: none;
}


#table-container {
	width: 100%;
}

#table-headers {
	width: 100%;
}

#buildings-table {
	width: 100%;
	margin-top: -1.25em !important;
	height: 200px;
	/*border-bottom: 1px solid #ccc;*/
	overflow: scroll;
}

.leaflet-control-layers {
	border: none;
	box-shadow: none;
}

.leaflet-control-layers label {
	font-size: 10pt;
	height: 18px;
}

.leaflet-control-layers-expanded {
	border: none;
}

#scroll-button {
	height: 40px;
	width: 100%;
	background-color: #eee;	
}

#scroll-button i:hover {
	color: #0079a1;
	cursor: pointer;
}

.style {

}

.big-map {
	width: 100%;
	height: 400px;
}

#box-info {
	padding: 6px;
	padding-top: 0px;
}

#box-info {
	font-weight: bold;
}
#box-info p {
	/*font-family: Helvetica;*/
	/*font-size: 11pt;*/
	/*line-height: 12pt;*/
	margin-bottom: 0px !important;
}

#showme {
	font-family: Helvetica;
	font-size: 11pt;
	margin-top: -6px;
	font-weight: bold;
}

@media (min-width: 500px) {

	td {
		min-width: 75px;
	}

	.title {
		margin-top: 20%;
	}


  #map {
  	height: 250px;
  }

  #header {
    margin-top: -2px;
    padding: 18px;
    height: 70px;
    width: 100%;
    background-color: #333;
/*    opacity: .85;
*/
  }

  #header img {
    margin-right: 20px;
    opacity: .90;
    float: left;
  }

  #header img:hover {
    opacity: 1;
    cursor: pointer;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-ms-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
  }

  .header-title {
    color: #eee; font-family: Georgia, Times, 'Times New Roman', serif; font-size: 18pt; display: inline;
  }

  .header-subtitle {
    color: #eee; font-family: Georgia, Times, 'Times New Roman', serif; font-size: 14pt; display: inline;
  }

}

@media (max-width: 400px) {

	#buildings-table {
		height: 175px;
	}

	#about_button {
		font-size: 8pt;
	}

	.dropped {
		visibility: hidden;
		display: none;
	}
}

@media (max-width: 500px) {

	#header {
		visibility: hidden;
		display: none;
	}
}

@media (max-width: 600px) {
  
  .header-title {
    color: #eee; font-family: Georgia, Times, 'Times New Roman', serif; font-size: 14pt; display: inline;
  }

  .header-subtitle {
    color: #eee; font-family: Georgia, Times, 'Times New Roman', serif; font-size: 12pt; display: inline;
  }
}  