body {
  /*min-height:400px;*/
  padding: 10px;
  font-family: helvetica;
  color: #444;
}

.counties {
      cursor:crosshair;
}

.county {
  fill: #d1d2d3;
  stroke: #fff;
  stroke-width:1px;
  /*stroke-linejoin: round;*/
}

.Declared{
  fill: #9F2520;
}
.Requested{
  fill: #fecc5c;
}

.legend {

}

.legend div {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #bd0026;
  margin-right: 0.5em;
}

.legend p {
  display: inline-block;
}

#declaredLegend {
  background-color: #9F2520;
}

#requestedLegend {
  background-color: #fecc5c;
  margin-left: 1em;
}

.oregon-border {
  fill: none;
  stroke: #666;
  stroke-width:1px;
}

table { 
  width: 100%;
  border-collapse: collapse; 
}

th {
  text-align: left;
}

thead tr {
  border-bottom: 2px solid #444;
}

tr {
  border-bottom: 1px solid #e5e6e7;
}

td {
  padding: 0.25em 0;
  color: #444;
  font-weight: lighter;
}

div.tooltip { 
    position: absolute;     
    padding: 6px;       
    font: 16px sans-serif;    
    background: #fff; 
    border: 1px solid #999;    
    pointer-events: none;     
}
