html, body {
	padding: 0;
	margin: 0;
  width:auto !important;
	height:auto !important;
	background-color: #f1f2f3;
}

body {
	border: 1px solid #d1d2d3;

}

p {
	font-size: 1.125em;
	font-family: Georgia,Times,Times New Roman,serif;
	line-height: 1.5em;
	color: #444;
}


#map {
	height: 600px;
	width: 100%;
	/*margin-bottom: 2em;*/
 }

#info {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.8);
	width: 460px;
	top: 10;
	right: 10;
	padding: 0.75em 0.75em 0 0.75em;
	border: 1px solid #d1d2d3;
}

#info p {
	font-size: 0.875em;
	font-family: Georgia,Times,Times New Roman,serif;
	/*line-height: 1.5em;*/
	color: #444;
}

#info h4 {
	color: #414243;
	font-size: 1.5em;
	/*text-transform: uppercase;
	letter-spacing: 0.1em;*/
	/*font-weight: bold;*/
	border-top: 1px solid #e1e2e3;
	padding-top: 0.5em;
	line-height: 1em;
}

#info h6 {
	color: #414243;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.75em;
	line-height: 1em;
	padding-bottom: 2em;
}

#date{
	font-size: 0.875em;
	color: #a1a2a3;
}

#video {
	padding-bottom: 0.5em;
}

/*STEPPER*/


button {
  background-color:#eee;
  border:1px solid #999;
  cursor:pointer;
  color:#444;
  font-family:Arial;
  font-size:16px;
  width: 100px;
  height: 44px;
  text-decoration:none;
}

button:hover {
  background-color:#f6f6f6;
}

button:focus {outline:0;}


#next{
  -moz-border-radius: 0px 6px 6px 0px;
  -webkit-border-radius: 0px 6px 6px 0px;
  border-radius: 0px 6px 6px 0px;
}

#last {
  -moz-border-radius: 6px 0px 0px 6px;
  -webkit-border-radius: 6px 0px 0px 6px;
  border-radius: 6px 0px 0px 6px;
}

.inactive {
  pointer-events:none;
    background-color:#fff;
  color:#aaa;
  border:1px solid #dcdcdc;

}

#buttonContainer {
  position: relative;
  /*width: 210px;*/
  /*margin: 20px auto;*/
}

#stepDescription{
  padding: 0 2em 2em 2em;
}

@media (max-width: 620px) {

  #map {
    height: 340px;
  }

  #info {
		position: relative;
    width: 100%;
    margin: auto;
		padding: auto;
		border: 0px solid #d1d2d3;
		top: 0;
		right: 0;
		background-color: #f1f2f3;

	}
}
