html, body {
	padding: 0;
	margin: 0;
  width:auto !important;
	height:auto !important;
}

h3, h4 {
	font-family: Georgia, Times, 'Times New Roman', serif;
}

h4 {
	font-size: 1.5em;
}

h6 {
	color: #444;
	text-transform:uppercase;
	letter-spacing: 1px;
	font-size: 0.875em;
	margin-top: -0.1em;
}

p {
	font-family: Georgia, Times, 'Times New Roman', serif;
}

.card {
	position: relative;
	margin: 0 0 0 4em;
	border-left: 2px solid #a50f15;
	padding: 0 0 3em 1em;
}

.card:last-child {
	margin: 0 0 3em 4em;
	padding: 0 0 0em 1em;
}

.circle {
		position: absolute;
		width: 17px;
		height:17px;
		left: -9.5px;
		top: 0;
		border-radius: 8.5px;
		border: 3px white solid;
		background-color:#a50f15;
}

/* Small only */
@media screen and (max-width: 39.9375em) {

	h3 {
		font-size: 1.75em;
	}

	.card {
		margin: 0 0 0 1em;
		padding: 0 0 3em 1em;
		/*background-color: red;*/
	}

	.card:last-child {
		margin: 0 0 3em 1em;
		padding: 0 0 0em 1em;
	}

}
