/*VIDEO BACKGROUND */

body {
  max-width: 930px;
  margin: auto;
  margin-top: 20px;
  height: 700px;
}

#vidcontainer {
  position: absolute;
  overflow: hidden;
  width: 95%;
  margin: auto;
  height: 500px;
}

#vidcontainer .content {
  position: absolute;
  top: 0;
  left: 0;
}

/*GENERAL PAGE STYLES */
h3 { 

font-size: 18px;
font-weight: bold;
}

/* MAP STYLES */

#map {
  width: 95%;
  margin: auto;
  height: 500px;
  /*margin-top: 5%;*/
}

.info {
  padding: 12px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  /*background: #fff;*/
  color: #333;
  background: rgba(255,255,255,0.95);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  /*min-width: 300px;*/
  max-width: 360px;
  /*height: 400px;*/
  z-index: 99999;
  color: #808080;

}

.artnote span, .artnote label {
  display:inline-block;
  float:left;
  height:10px;
  width:35px;
  margin: .25px;
  text-align:center;
  font-size:9px;
  color: #808080;
}

.info span {
  opacity: .5;
}

.artnote {
  font: 10pt/12pt Arial, Helvetica, sans-serif;
  font-size:11px;
  color: #808080;f
}

.liquefactioninfo {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: #fff;
  color: #333;
  /*background: rgba(255,255,255,0.8);*/
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  /*min-width: 195px;*/
  /*max-width: 395px;*/
  height: auto;
  z-index: 99999;
  color: #808080;

}

.footprintinfo {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: #fff;
  color: #333;
  /*background: rgba(255,255,255,0.8);*/
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  /*min-width: 195px;*/
  /*max-width: 395px;*/
  height: auto;
  z-index: 99999;
  color: #808080;

}

.liquefactionblob {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  opacity: .15;
}

.footprintblob {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: black;
}

.pipelineblob {
  display: inline-block;
  width: 10px;
  height: 5px;
  border-top: 0.5px solid white;
  border-bottom: 3px solid white;
  background-color: blue;
}



.tankbuttoncontainer {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  /*background: white;*/
  /*background: rgba(255,255,255,0.8);*/
  box-shadow: 0 0 15px red;
  border-radius: 5px;
  /*width: 250px;*/
  height: auto;
  z-index: 99999;
}

.tankbutton {
  /*background-color:#333 !important;*/
  /*float: left; */
  border:1px solid #333;
  cursor:pointer;
  color:#333 !important;
  font-family:Arial;
  font-size:10px;
/*  max-width: 80px;
  min-width: 40px;*/
  height: 10px;
  text-decoration:none;
  text-align: center;
  padding: 4px 4px 16px 4px;
  margin-bottom: 0.25em;
}

.tankbutton:hover {
  background-color: #ccc;
  /*background-color: #f6f6f6;*/
}



.leaflet-control-layers-expanded {
  /*height: 150px;*/
  width: 150px;
}

/*.leaflet-control-attribution {
  height: 0px;
  opacity: 0.5;
}*/

.leaflet-control-layers-list span {
  font-size: 10pt;
}


/*.leaflet-control-zoom {
  visibility: hidden;
}
*/

/*STEP CONTROLLER*/

#stepper {
  /*position: absolute;*/
  /*top: 1em;*/
  /*right: 1em;*/
  width: 95%;
  margin: auto;
  /* height: 5%;*/
  /* min-width: 200px;
  max-width: 400px;*/
  /*height: 150px;*/
  /*border: 2px solid #e1e2e3;*/
  padding: 10px 12px 0 12px;
  /*-moz-border-radius: 3px;*/
  /*-webkit-border-radius: 3px;*/
  /*border-radius: 3px;*/
  background-color:rgba(255,255,255,.9);
  /*box-shadow: 1px 1px 1px #ccc;*/
  z-index: 100;
}

#buttonContainer {
  position: relative;
  /*top: 10px;*/
  /*right: 10px;*/
  width: 170px;
  /*height: 300px;*/
  /*margin: 10px auto 10px ;*/
}

button {
  background-color:#eee !important;
  border:1px solid #999;
  cursor:pointer;
  color:#444 !important;
  font-family:Arial;
  font-size:16px;
  width: 80px;
  height: 34px;
  text-decoration:none;
  text-align: center;
  padding: 4px 0 0 0;
  margin-bottom: 0.25em;
}

button:hover {
  color: #444;
  background-color:#f6f6f6;
}

button:focus {outline:0;}

#collapse-stepper {
  float: right;
  cursor: pointer;
}

#next{
  -moz-border-radius: 0px 6px 6px 0px;
  -webkit-border-radius: 0px 6px 6px 0px;
  border-radius: 0px 6px 6px 0px;
}

#last {
  -moz-border-radius: 6px 0px 0px 6px;
  -webkit-border-radius: 6px 0px 0px 6px;
  border-radius: 6px 0px 0px 6px;
}

.inactive {
  pointer-events:none;
  background-color:#fff;
  color:#aaa !important;
  border:1px solid #dcdcdc;
  cursor:default;

}

.legend-about {
  color: #333;
  font-weight: bold;
}

@media (max-width: 650px) {
  #map {
    height: 500px;
  }

  .info {
    width: 95%;
    max-width: 100%;
  }

}














