html, body {
	padding: 0;
	margin: 0;
  width:auto !important;
	height:auto !important;
}

p {
	font-family: Georgia,Times,Times New Roman,serif;
}

h1 {
	font-family: Georgia,Times,Times New Roman,serif;
	font-style: italic;
	text-align: center;
}

h6 {
	color: #818283;
	/*font-weight: bold;*/
}

/*BOOK FORMATTING*/

.infoPane{
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 20px;
	width: 400px;
	height: 700px;
	background-color: rgba(255, 255, 255, 0.9);
	overflow: hidden;

}

.content{
	position: absolute;
	height: 610px;
	padding-right: 20px;
	width: 395px;
	overflow: scroll;
	/*overflow-y:hidden;*/
	overflow-x:hidden;
}


#coverImage {
	padding: 0 8px 8px 0;
}

#map {
  height: 700px;
  max-width: 100%;
 }

#title {
	/*font-weight: bold;*/
	/*text-align: center;*/
	font-family: Georgia,Times,Times New Roman,serif;
	font-style: italic;
	font-size: 2em;
}

#author {
	/*text-align: center;*/
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #a1a2a3;
	font-weight: bold;
}

#bookStats{
	border-top: 1px solid #e1e2e3;
	/*border-bottom: 1px solid #e1e2e3;*/
	padding-top: 1em;
}

#place {

}

#firstLine{
	border-left: 0px;
	font-family: Georgia,Times,Times New Roman,serif;
	font-style: italic;
	padding: 0;
}

.caps{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #a1a2a3;
	font-weight: bold;
	padding-right: 16px;
	font-size: 0.75em;
	line-height: 1.9em;
}


.startSlide {
	z-index: 1000;
	position: absolute;
	top: 50px;
	left: 50px;
	max-width: 400px;
	/*height: 300px;*/
	background-color: rgba(255, 255, 255, 0.9);
	padding: 2.5em;
	border: 4px double #444;
}

.startSlide p {
	font-size: 1.25em;
	font-style: italic;
	padding-bottom: 0.5em;
}

#go {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #444;
	font-weight: bold;
	padding: 0.5em 0;
	font-size: 1.5em;
	background-color: #fff;
	margin: 0 auto;
	max-width: 240px;
	border: 5px solid #444;
	transition: background-color 0.25s ease;
	cursor: pointer;
}

#go:hover {
	color: #fff;
	background-color: #444;
}

/*STEP CONTROLLER*/

.stepper {
  position: absolute;
  bottom: 20px;
  width: 360px;
	height: 44px;
	border-top: 1px solid #d1d2d3;
	padding-top: 12px;
}

.next{
	border: 2px solid #444;
	padding: 4px 9px 4px 12px;
	border-radius: 4px;
	background-color: #fff;
}

.next:hover {
	background-color: #444;
}

.last {
	padding: 4px 12px 4px 9px;
	border: 2px solid #444;
	border-radius: 4px;
	background-color: #fff;
}

.last:hover {
	background-color: #444;
}

i {
  color:#444;
  cursor: pointer;
	font-size: 1.5em;
}

i:hover  {
	color: #fff;
}

.inactive {
  pointer-events:none;
  color:#aaa;
  cursor:default;
	border-color: #aaa;
}

.leaflet-control-zoom{
	/*display: none;*/
}

/*.leaflet-marker-icon {
	opacity: 0;
}*/

/*MEDIA QUERIES*/

@media only screen and (max-width: 40em) {
	#map {
	  height: 240px;
	  width: 100%;
	 }

	 .infoPane{
	 	position: relative;
	 	padding: 20px;
	 	width: 100%;
	 	height: auto;
		overflow: auto;

	 }

	 .stepper {
	   position: relative;
	   width: 100%;
		 height: 44px;
	 	border-top: 0px solid #d1d2d3;
		border-bottom: 1px solid #d1d2d3;
		margin-top: 0px;
	 	padding-top: 0px;
		margin-top: 20px;
		/*padding-top: 0px;*/
	 }

	 .content{
	 	position: relative;
	 	height: auto;
	 	width: 100%;
	 	overflow: auto;
		padding-right: 0px;

	 }

	 .startSlide {
	 	z-index: 1000;
	 	position: relative;
	 	top: auto;
	 	left: auto;
	 	width: auto;
	 	height: auto;
	 	padding: 1em 0 0 0;
	 	border: 0px double #444;
	 }


}
