html, body {
	padding: 0;
	margin: 0;
  width:auto !important;
	height:auto !important;
}

/*p {
  	font-family: Georgia,Times,Times New Roman,serif;
}*/


.info {
	width: 100%;
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	/*box-shadow: 0 0 15px rgba(0,0,0,0.2);*/
	/*border-radius: 5px;*/
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

#feature_infos {
    background: rgba(255, 255, 255, 0.95);
	font: 14px/16px Arial, Helvetica, sans-serif;
		/*box-shadow: 0 0 15px rgba(0,0,0,0.2);*/
    width:90%;
    /*height: 25%;*/
    position: relative;
    margin: auto;
    /*display:none;*/
}

#map { 
  height: 300px;
  width: 100%;
  margin: auto;
  background-color: #fff;
  /*border: 1px solid black;*/
 }

/*LEAFLET STYLE OVERRIDES*/

.leaflet-popup-content-wrapper {
  background-color: #fff;
  border-radius: 3px;
}

.leaflet-popup-tip{
  background-color: #fff;
}

.leaflet-popup-content {
  font-size: 1.125em;
  color: #363636;
}

.leaflet-popup-content h4{
  font-size: 20px;
  line-height: 0;
}


@media (max-width: 490px) {

	#map {
		height: 400px;
	}

}


@media (min-width: 900px) {

	#map {
		height: 600px;
	}

}










